.card {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.card-image {
  width: 100px;
  height: 100px;
  border: white 2px solid;
  opacity: 0;
  display: none;
  &.open, &.back {
    display: initial;
    opacity: 1;
  }
  @keyframes opened {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }
  &.open {
    animation: opened 500ms;
  }
  @keyframes guessed {
    0% { filter: grayscale(0%) }
    100% { filter: grayscale(100%) }
  }

  &.guessed {
    filter: grayscale(100%);
    animation: guessed 1s;
  }
}




